<!DOCTYPE html>
    <head>
        {% load static %}

        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/history_style.css' %}"> 
        <meta charset="utf-8">
        <html lang="ru">
        <title>history</title>
    </head>
    <body>
        <div class="nav_bar">
            <a href="{% url 'home' %}">Главная</a>
        </div>
        
        <div class="container">
          <img src="{% static 'images/spiner.jpeg' %}" alt="Вращающееся" class="rotating-image" />
          <img src="{% static 'images/spinertext.jpeg' %}" alt="Накладываемое" class="overlay-image" />
        </div>
        <p><strong>История жанра VSRG </strong>началась в Японии в середине 1990-х годов, когда компания Konami выпустила аркадный автомат<em>Beatmania (1997).</em>Игра использовала вертикальный скролл нот, которые игрок должен был вовремя нажимать на мини-клавиатуре, синхронизируясь с электронной музыкой. Этот проект стал революционным, объединив ритм-геймплей с клубной эстетикой, и заложил основы жанра. Успех <em>Beatmania</em> вдохновил <em>Konami</em> на создание других игр линейки<em>Bemani</em>, включая культовую <em>Dance Dance Revolution (1998)</em>, где ноты прокручивались вертикально для танцевального коврика.</p>
        
        <p><strong>К началу 2000-х </strong> VSRG захватили аркадные залы Азии, особенно Южной Кореи, где местные разработчики начали экспериментировать с жанром. Например, <em>Pentavision выпустила DJMax (2004</em> — игру с красочным интерфейсом, многослойными паттернами и саундтреками в стиле <em>J-pop</em> и электроники. Одновременно жанр начал проникать на домашние консоли: <em>Beatmania IIDX</em> портировали на <em>PlayStation 2</em>, а фанаты создавали эмуляторы вроде <em>StepMania (2001)</em>, позволявшие играть в ритм-игры на ПК с пользовательскими треками.</p>
        
        <p><strong>Расцвет сообществ и кастомного контента пришёлся на середину 2000-х.</strong> Благодаря открытым движкам, таким как <em>StepMania</em> и <em>osu! (2007)</em>, игроки могли создавать собственные карты под любую музыку — от классики до аниме-опенингов. Это превратило VSRG в глобальную субкультуру: фанаты переводили японские игры, организовывали турниры и делились модами. Например, в <em>osu!</em> появился режим <em>osu!mania</em>, имитирующий классический вертикальный скролл, а сообщество игры выросло до миллионов пользователей.</p>
        
        <p><strong>2010-е годы стали эпохой мобильных VSRG.</strong> С распространением смартфонов тайваньская студия <em>Rayark</em> выпустила <em>Cytus (2012)</em> и <em>Deemo (2013)</em>, где управление осуществлялось через касание экрана, а визуальный стиль сочетался с сюжетными элементами. Корейская <em>DJMax Respect (2017)</em> и китайские проекты вроде <em>Phigros (2020)</em> добавили инновации: нелинейные траектории нот, динамическую сложность и коллаборации с музыкантами. Мобильные игры сделали жанр доступнее, привлекая новичков и сохраняя вызов для профессионалов.</p>

        <p><strong>Но так сложилось </strong>, что определить точный уровень мастерства у каждого игрока невозможно. Поэтому некоторые игроки начали создавать специальные марафон-карты в игре <em>osu!mania</em>, пак из которых называли Дан-курсами <em>(Dan Courses).</em>Дан включает в себя 4 песни в одной карте, каждая из которых олицетворяет определенный вид паттерна. Чтобы успешно пройти дан, требуется к концу получить не менее 96% аккуртности. При условии что песни идут подряд с перервом в 5 секунд, дан можно пройти в среднем от 7 до 11 минут. </p>

        <p><strong>DDMythical (также известный как DDM)</strong> — один из ключевых создателей контента и мапперов в сообществе <em>osu!mania</em>, чей вклад повлиял на развитие жанра VSRG и обучение игроков. Именно его Дан-курс считается каноничным и включает в себя 3 пака.</p>

        <h2>Каноничные паки Дан-курсов от DDMythical:</h2>
        <ol>
            <li>Dan ~ REFORM ~ 1st Pack</li>
            <li>Dan ~ REFORM ~ 2nd Pack</li>
            <li>Dan ~ REFORM ~ Sample Packs (Beta Versions)</li>
            
        </ol>

        <p>Первый пак включает в себя интро-даны (с первого по третий), затем с первого по пятый. Считается начальным уровнем. Второй пак включает в себя даны для игроков среднего уровня (с шестого по десятый). И в после 10 дана начинается настоящее испытание - даны с <em>Alpha</em> по <em>Epsilon</em> -  карты наивысшего уровня сложности, требующие от игрока мастерства максимального уровня. Чтобы успешно пройти эти даны зачастую не хватает только терпения, выдержки и дисциплины. Тут уже начинает играть биологический фактор. Например <em>Epsilon</em> дан прошли только в 2020 году, когда курс существовал уже почти 10 лет. На сегодняшний момент Epsilon успешно прошло 17 человек, что в очередной раз доказывает невероятную сложность этого финального испытания..</p>
        
        <h2>Сложнейшие даны из второго пака:</h2>
        <ul>
            <li>Alpha dan</li>
            <li>Beta dan</li>
            <li>Gamma dan</li>
            <li>Delta dan</li>
            <li>Epsilon dan</li>
        </ul>
        
    </body>
</html>